services:
  backend:
    build: ./back
    environment:
      - SECRET_KEY=dev-secret
      - DATABASE_URL=postgresql+asyncpg://osint:osint@postgres:5432/osint
      - PYTHONPATH=/app:/app/app
      - APP_HOST=0.0.0.0
      - APP_PORT=8000
      - GRPC_HOST=0.0.0.0
      - GRPC_PORT=50051
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_TOPIC=hello-topic
    ports:
      - "8000:8000"
      - "50051:50051"
    depends_on:
      - kafka
      - postgres
    restart: unless-stopped

  frontend:
    build: ./front
    environment:
      - NEXT_PUBLIC_API_BASE=http://backend:8000
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=osint
      - POSTGRES_PASSWORD=osint
      - POSTGRES_DB=osint
    ports:
      - "5432:5432"
    volumes:
      - ./bd/data:/var/lib/postgresql/data
    restart: unless-stopped

  kafka:
    image: apache/kafka:3.8.0
    ports:
      - "9092:9092"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_NUM_PARTITIONS=1
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - CLUSTER_ID=4L6g3nShT-eMCtK--X86sw
    restart: unless-stopped
